* {
    box-sizing: border-box;
}
.yourGoals{
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    /* width: 50vw; */
    margin: 5vh;

    padding: 2.5em;
    padding-top: 2em;

    /* border: 2px solid grey; */
    border-radius: 15px;
    
    gap: 10px;
    height: 60vh;

    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

