.parent-box{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* background-color: aqua; */
    
    
}

.sidebar{
    border: 2px solid black;
    

}

.mainbody{
    border: 2px solid black;
    
}


#heading-dashboard{
    margin-left: 6vh;
}

.page-content{
    padding:2rem;
}