* {
    box-sizing: border-box;
}

.expenseList {
    min-height: fit-content;
    /* max-width: fit-content; */
    /* border: 2px solid black; */
    padding: 2em;
    border-radius: 12px;

    width: -webkit-fill-available;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    /* font-weight: 300;
    font-size: medium; */
    
}

td {
    text-align: center;
}

th {
    text-align: center;
}

tr{
    padding-right: 0.5em;

}

.listElement{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
}